<?xml version="1.0" encoding="utf-8"?>
<config>
    <params>
        <param name="adapter" type="radio" default="solr" label="Search Engine">
            <option value="solr">Solr</option>
            <option value="elasticsearch">Elasticsearch</option>
            <option value="sphinx">Sphinx</option>
            <option value="xapian">Xapian</option>
        </param>

        <param name="url" type="text" default="localhost" label="URL"/>
        <param name="port" type="text" default="8983" label="Port"/>
        <param name="instance" type="text" default="solr" label="Instance"/>
        <param name="core" type="text" default="collection1" label="Core"/>
    </params>
</config>
